<h1>All Employees</h1>
<table>
    <thead>
        <tr>
            <strong><td>Employee Name</td><td>Date of Birth</td><td>Job Title</td><td>Organization</td><td>Location</td></strong>
        </tr>
    </thead>
    <tbody>
        <% @employees.each do |employee| %>
        <tr>
            <td><%= employee.full_name %></td>
        
            <td><%= employee.dob %></td>
       
            <td><%= employee.job_title %></td>
            <td><%= employee.organization.name %></td>
            <td><%= employee.organization.location %></td>
        </tr>
        <% end %>
    </tbody>
</table>