<h1>Employee Info</h1>
<%= form_for(@employee) do |f| %>
    <%= f.label(:full_name) %>
    <%= f.text_field(:full_name) %>
    <br />
    <%= f.label(:dob) %>
    <%= f.text_field(:dob) %>
    <br />
    <%= f.label(:job_title) %>
    <%= f.text_field(:job_title) %>
    <br />
    <%= label_tag(:organization_name) %>
    <%#= <%= text_field_tag(:organization_name) %>
    <%= f.collection_select :organization, Organization.all, :formatted_name, :formatted_name %>
    <br />
    <%= f.submit %>
<% end %>