<h1>Employee Info</h1>
<%= form_for(@employee) do |f| %>
    <%= f.label(:full_name) %>
    <%= f.text_field(:full_name) %>
    <br />
    <%= f.label(:dob) %>
    <%= f.text_field(:dob) %>
    <br />
    <%= f.label(:job_title) %>
    <%= f.text_field(:job_title) %>
    <br />
    <%= f.label(:organization_id, 'Organization') %>
    <%= f.collection_select :organization_id, Organization.all, :id, :formatted_name, prompt: true %>
    <br />
    <%= f.submit %>
<% end %>