<h1>Create an Organization</h1>
<%= form_for(@organization) do |f| %>
    <%= f.label(:name) %>
    <%= f.text_field(:name) %>
    <br />
    <%= f.label(:location) %>

    <%#= <%= f.text_field(:location) %>
    <%= f.select :location, options_for_select([["PA"],["OR"],["NY"],["CA"]], :selected => :location) %>
    <br />
    <%= f.submit %>
<% end %>
